.MapPage .Header {
    background-color: var( --primary-background );
    color: var( --primary-color );
}

.LeftColumn {
    justify-content: top;
}

.LeftColumn > .List > .DropDown > .Title {
    background-color: var( --secondary-background );
    color: var( --secondary-color );
}

.RightColumn {
    position: relative;
}

.Map > .Text,
.Lines > .Row > .Text,
.Points > .Row > .Text {
    width: 66%;
}

.Map .Columns > Button,
.Lines .Columns > Button,
.Points .Columns > Button {
    padding: 0.0125em;
}
