.LeftColumn {
    justify-content: top;
}

.RightColumn {
    position: relative;
}

.Map > .Text,
.Lines > .Row > .Text,
.Points > .Row > .Text {
    width: 60%;
}

.Map .Columns > Button,
.Lines .Columns > Button,
.Points .Columns > Button {
    padding: 0.025em;
}
