.LeftColumn {
    justify-content: top;
}

.MapRow > .Text,
.LineRows > .Row > .Text,
.PointRows > .Row > .Text {
    width: 60%;
}

.MapRow .Columns > Button,
.LineRows .Columns > Button,
.PointRows .Columns > Button {
    padding: 0.025em;
}
