
.MapTools {
    z-index: 10000;
    position: absolute;
    width: 235px;
    left: calc( 100% - 235px - .7em );
    top: .7em;
    /* height: 60px; */
    border-bottom: 1px dotted;
    background-color: whitesmoke;
}

.MapTools > * {
    padding: .5em;
}

.MapTools > :first-child {
    border-bottom: 1px dotted;
}
