.MapTools {
    z-index: 10000;
    position: absolute;
    width: 240px;
    left: calc( 100% - 240px - .7em );
    top: .7em;
    background-color: var( --primary-background );
    color: var( --primary-color );
}

.MapTools > .title {
    padding: .5em;
    border-bottom: 1px dotted;

    justify-content: space-between;
}

.MapTools > .content > * {
    padding: .5em;
    padding-bottom: 0;
}

.MapTools > .content > *:last-child {
    padding-bottom: .5em;
    border-bottom: 1px dotted;
}

.MapTools > .content > * > .Text {
    min-width: 20%;
    /* max-width: 25%; */
    margin-right: .5em;
}

.MapTools > .content > * > .Input {
    width: 80%;
    border: 1px dotted;
}
