input, 
.Icon, 
.Text {
    margin: 0.125em;
    /* border: 1px dashed gray; */
    padding: 0.25em;
}

/* input:focus {
    outline: 0.25px dashed blueviolet;
} */

.Icon.onClick {
	cursor: pointer;
}
