.Message {
    min-width: 25%;
    min-height: 25%;
    background-color: var( --secondary-background );
    color: var( --secondary-color );
    /* text-align: center; */
}

.Message > .title {
    border-bottom: 1px dotted var( --secondary-color );
    display: flex;
    justify-content: left;
}

.Message > .title > .Button  {
    font-size: 1.5em;
    border: 1px dashed transparent;
}

.Message > .title > .Button:focus  {
    border: 1px dashed var( --primary-background );
}

.Message > .content {
    padding: 1em;
}

.Message > .content > * {
    padding-bottom: .5em;
}

