.Message {
    min-width: 25%;
    padding: 1em;
    padding-bottom: 2em;
    background-color: var( --secondary-background );
    color: var( --secondary-color );
}

.Message > .Content {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Message > .Content > * {
    padding-bottom: .5em;
    text-align: center;
}

.Message > .Buttons {
    display: flex;
    justify-content: space-evenly;
}

.Message > .Buttons > * {
    border: 1px dashed var( --secondary-color );
}