.SizeInput {
    display: flex;
    flex-direction: column;
}

.SizeInput > .Button {
    justify-content: left;
}

.SizeInput > .Sizes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    overflow: hidden;
}

.SizeInput > .Sizes > label {
	cursor: pointer;
    border: 1px dashed transparent;
    width: 33.33%;
    /* padding: .5em; */
}

.SizeInput > .Sizes > label > input[ type=radio ] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.SizeInput > .Sizes > label:focus-within {
    border: 1px dashed lightgray !important;
}
