.Welcome {
    font-size: 1.5em;
}

.Logo img {
    background-color: transparent;
    /* to convert the desired color to filter: https://codepen.io/sosuke/pen/Pjoqqp */
    /* color: rgba(255, 102, 0, 0.979); (a kind of strong orange)*/
    filter: invert(48%) sepia(50%) saturate(4932%) hue-rotate(2deg) brightness(103%) contrast(107%);

    /* color: olivedrab; */
    /* filter: invert(41%) sepia(97%) saturate(359%) hue-rotate(38deg) brightness(100%) contrast(83%); */
    opacity: 0.66;
    width: 16em;
    height: 16em;
}
